version: "3.8"

services:
  web:
    build: .
    container_name: voting_app
    ports:
      - "5000:5000"
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
